.room-info-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px; /* Space between HeaderCard and RoomInfoCard */
    background-color: lightgray;
    flex: 3;
    align-self: center;
    width: 95%;
    align-items: start;
    overflow-y: auto;
    flex-shrink: 1;
}