#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
    /* Generic colors */
    --OrangeCompany_BrandOrange: #F37923;     /* RGB Code: 243 121 35  */
    --OrangeCompany_Orange: #FE7743;          /* RGB Code: 254 119 67  */
    --OrangeCompany_LightOrange: #FEA07B;     /* RGB Code: 254 160 123 */
    --OrangeCompany_DarkOrange: #D35E0C;      /* RGB Code: 211 94  12  */

    /* Light mode colors */
    --OrangeCompany_OffWhite: #EFEEEA;        /* RGB Code: 239 238 234 */
    --OrangeCompany_CardWhite: #FBFBFA;       /* RGB Code: 251 251 250 */
    --OrangeCompany_GreyBox_LightMode: #8f8f8f;

    /* Dark mode colors */
    --OrangeCompany_OffBlack: #1C1C1C;        /* RGB Code:  28  28  28 */
    --OrangeCompany_CardBlack: #353535;       /* RGB Code:  53  53  53 */

    /*Colours can be called with: var([COLOUR NAME])*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
