/* My wrapper box */
.Attending__white-box {
    position: fixed;
    width: 65vw;
    height: 65vh;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--OrangeCompany_CardWhite);
    color: var(--OrangeCompany_OffBlack);
    border-radius: 25px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Inside the white box (left box)*/
.Attending__white-box-inside {
    background: var(--OrangeCompany_CardWhite);
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.12);
    padding: 24px;
    gap: 12px;
    flex: 2;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

/* Event list (right box) */
.Attending__event-list {
    flex: 1;
    background: var(--OrangeCompany_CardWhite);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 0;
}

.Attending__event-item-container,
.Attending__not-attending-section {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Individual event items in right box */
.Attending__event-item {
    background: var(--OrangeCompany_LightOrange);
    color: #ffffff;
    border-radius: 9999px; /* I was lazy */
    padding: 12px 12px;
    cursor: pointer;
    text-align: center;
}

.Attending__event-item:hover,
.Attending__event-item:focus {
    background: var(--OrangeCompany_Orange);
}

.Attending__event-title-underline,
.Attending__title-underline {
    width: 100%;
    height: 2px;
    background: #111;
    /* border-radius: 1px; */ /* rounded edges */
    margin-bottom: 6px; /* Space under the underline */
}

.Attending__attending-btn {
    background: green; /* NEEDS TO BE SWITCHED ON AND OFF IF YOU GO? */
    color: #fff;
    border-radius: 9999px;
    padding: 10px 50px; /* Puffing the button */
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 18px;
}

.Attending__attending-btn .notGoing {
    background: red; /* NEEDS TO BE SWITCHED ON AND OFF IF YOU GO? */
}

.Attending__attending-btn:hover {
    background: var(--OrangeCompany_Orange, #fb8c00);
}

.Attending__inner-container-vertical {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    min-height: 0;
}

.Attending__grey-top {
    flex: 6;
    background: var(--OrangeCompany_GreyBox_LightMode);
    border-radius: 25px;
    padding: 24px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.08);
    min-height: 0;
}

.Attending__grey-bottom {
    flex: 4;
    background: var(--OrangeCompany_GreyBox_LightMode);
    border-radius: 25px;
    padding: 24px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.08);
    min-height: 0;
    overflow-y: auto;
}
