.booking-container {
    position: fixed;
    width: 65vw;
    height: 65vh;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--OrangeCompany_CardWhite);
    color: var(--OrangeCompany_OffBlack);
    border-radius: 25px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* columns */
.left-column {
  display: flex;
  flex-direction: column;
  flex: 7;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.12);
  gap: 12px;
  background-color: antiquewhite;
  overflow-y: auto;
  min-height: 20vh;
}

.right-column {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px;
  overflow: auto;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  flex: 1;
  padding-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
  margin-top: auto;
}

.cancel-booking-button {
  background-color: #ff4d4d;
  width: 100%;
  padding: 10px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-booking-button:hover {
  background-color: #e60000;
  font-weight: bold;
}

.book-new-room-link, .update-room-link {
    width: 100%;
    padding: 15px 10px;
    background: var(--OrangeCompany_LightOrange);
    border-radius: 9999px;
    cursor: pointer;
}

.book-new-room-link:hover, .update-room-link:hover {
    background: var(--OrangeCompany_Orange);
}

@media (prefers-color-scheme: dark) {
    .booking-container {
        background: var(--OrangeCompany_CardBlack);
        color: var(--OrangeCompany_OffWhite);
        box-shadow: 0 10px 20px rgb(243, 121, 35);
    }

    .book-new-room-link, .update-room-link {
        background: var(--OrangeCompany_DarkOrange);
    }

    .book-new-room-link:hover, .update-room-link:hover {
        background: var(--OrangeCompany_BrandOrange);
    }

    .left-column {
        background-color: var(--OrangeCompany_CardBlack);
    }
}
