.BookedRooms__underline {
    width: 100%; 
    height: 2px;
    background: #111111c2;
    border-radius: 1px; /* rounded edges */
    margin-bottom: 6px;  /* Space under the underline */
}

.BookRoomList__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 200px;
    overflow-y: auto;
    flex: 1;
}

.BookRoomList__item {
    background: var(--OrangeCompany_LightOrange);
    color: #ffffff;
    border-radius: 9999px; /* I was lazy */
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
}

.BookRoomList__item:hover,
.BookRoomList__item:focus {
    background: var(--OrangeCompany_Orange);
}