/*

.BookaRoom__event-title-underline,
.BookaRoom__title-underline {
    width: 100%;
    height: 2px;
    background: #111;
    /* border-radius: 1px; */ /* rounded edges 
    margin-bottom: 6px;  Space under the underline 
}

.BookaRoom__attending-btn {
    background: green; /* NEEDS TO BE SWITCHED ON AND OFF IF YOU GO? 
    color: #fff;
    border-radius: 9999px;
    padding: 10px 50px; /* Puffing the button 
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 18px;
}

.BookaRoom__inner-container-vertical {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    min-height: 0;
}

.BookaRoom__grey-top {
    flex: 6;
    background: var(--OrangeCompany_GreyBox_LightMode);
    border-radius: 25px;
    padding: 24px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.08);
    min-height: 0;
}

.BookaRoom__grey-bottom {
    flex: 4;
    background: var(--OrangeCompany_GreyBox_LightMode);
    border-radius: 25px;
    padding: 24px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.08);
    min-height: 0;
    overflow-y: auto;
}

/* Event list (right box)
.BookaRoom__event-list {
    flex: 1;
    background: var(--OrangeCompany_CardWhite);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.BookaRoom__booked-rooms-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 200px;
    overflow-y: auto;
    flex: 1;
}

/* Individual event items in right box 
.BookaRoom__event-item {
    background: var(--OrangeCompany_LightOrange);
    color: #ffffff;
    border-radius: 9999px; /* I was lazy 
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
}

.BookaRoom__event-item:hover,
.BookaRoom__event-item:focus {
    background: var(--OrangeCompany_Orange);
}


.BookaRoom__nav-link {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    background: var(--OrangeCompany_LightOrange);
    border-radius: 9999px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.BookaRoom__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    align-items: center;
    position: relative;
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
    .BookaRoom__white-box {
        background: var(--OrangeCompany_CardBlack);
        color: var(--OrangeCompany_OffBlack);
        box-shadow: 4px 4px 5px rgba(243, 121, 35, 0.75);
    }

    .BookaRoom__white-box-inside {
        background: var(--OrangeCompany_CardBlack);
        box-shadow: 4px 4px 5px rgba(243, 121, 35, 0.75);
    }

    .BookaRoom__inner-container-vertical {
        color: var(--OrangeCompany_OffWhite);
    }

    .BookaRoom__event-title-underline,
    .BookaRoom__title-underline {
        background: var(--OrangeCompany_OffWhite);
    }

    .BookaRoom__grey-top {
        background: var(--OrangeCompany_CardBlack_Box);
    }

    .BookaRoom__grey-bottom {
        background: var(--OrangeCompany_CardBlack_Box);
    }

    /* Event list (right box) 
    .BookaRoom__event-list {
        background: var(--OrangeCompany_CardBlack);
        color: var(--OrangeCompany_OffWhite);
    }

    /* Individual event items in right box 
    .BookaRoom__event-item {
        background: var(--OrangeCompany_BrandOrange);
        color: #ffffff;
    }

    .BookaRoom__event-item:hover,
    .BookaRoom__event-item:focus {
        background: var(--OrangeCompany_DarkOrange);
    }

    .BookaRoom__nav {
        background: var(--OrangeCompany_CardBlack);
    }

    .BookaRoom__nav-link {
        background: var(--OrangeCompany_BrandOrange);
        color: var(--OrangeCompany_OffWhite);
    }

    .BookaRoom__nav-link:hover {
        background: var(--OrangeCompany_DarkOrange);
        color: var(--OrangeCompany_OffWhite);
    }

    .BookaRoom__event-title {
        color: var(--OrangeCompany_OffWhite);
    }
} */

.BookaRoom__container {
    position: fixed;
    width: 65vw;
    height: 65vh;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--OrangeCompany_CardWhite);
    color: var(--OrangeCompany_OffBlack);
    border-radius: 25px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.BookaRoom__left-box {
    background: var(--OrangeCompany_CardWhite);
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.12);
    padding: 24px;
    gap: 12px;
    flex: 2;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
}