.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #FBFBFA;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 400px;
}

.login-input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #EFEEEA;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.login-input-field:focus {
    /* Orange Brand Color */
    box-shadow: inset 0 2px 5px rgb(243, 121, 35);
    outline-width: 0;
}

.login-button {
    width: 100%;
    padding: 25px;
    margin-top: 16px;
    border: none;
    border-radius: 15px;
    background-color: #FEA07B;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background-color: #F37923;
}

.login-button:active {
    background-color: #D35E0C;
}

footer {
    margin-top: 16px;
    font-size: 12px;
    opacity: 50%;
}

@media (max-width: 500px) {
    .login-box {
        padding: 30px 20px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1C1C1C;
    }
    .login-box {
        background-color: #353535;
        /*--OrangeCompany_BrandOrange: #F37923; RGB Code: 243 121 35 */
        box-shadow: 0 10px 20px rgb(243, 121, 35);
    }

    .login-button {
        background-color: #F37923;
    }

    .login-input-field, .login-input-field:is(:-webkit-autofill, :autofill) {
        background-color: #1C1C1C;
        color: #EFEEEA;
    }

    footer {
        color: #EFEEEA;
    }
}